<!DOCTYPE html>
<html lang="en">
  <!--general information of the webpage-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <main>  
      <div class="chatbot">
        <div class="chat-header">
          <h1>Bakary LLM</h1>
        </div>
        <div class="header-sub-text">
          <p>Copyright © BG 2024 - Created by BG with <a class="purple">❤</a></p>
        </div>
        <div class="spacer" id="messages-container"></div>
        <form class="chat-form" id="message-form">
          <textarea type="text" id="message-input" placeholder="Send a message..."></textarea>
          <button type="submit">➤</button> 
        </form>
      </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
